.dice {
    position: relative;
    border-radius: 0.3rem;
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Pip layout --- */

.pip-grid {
    position: absolute;
    width: 50%;
    height: 50%;
    display: grid;
    gap: 15%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.pip {
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50%;
}

/* Dice face layouts */
.pip-1 {
    grid-template-areas:
        ". . ."
        ". a ."
        ". . .";
}

.pip-1 > .pip {
    grid-area: a;
}


.pip-2 {
    grid-template-areas:
        "a . ."
        ". . ."
        ". . b";
}

.pip-3 {
    grid-template-areas:
        "a . ."
        ". c ."
        ". . b";
}

.pip-4 {
    grid-template-areas:
        "a . b"
        ". . ."
        "c . d";
}

/* Position pips */
.pip-grid > .pip:nth-child(1) { grid-area: a; }
.pip-grid > .pip:nth-child(2) { grid-area: b; }
.pip-grid > .pip:nth-child(3) { grid-area: c; }
.pip-grid > .pip:nth-child(4) { grid-area: d; }

/* --- Cloud overlay --- */

.cloud {
    position: absolute;
    pointer-events: none;
}
