.horizontal-container {
    display: flex;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1.5rem;
}

.small {
    font-size: smaller;
}

.large {
    font-size: larger;
}
.bold {
    font-weight: bold;
}


.fixed-container {
    width: 50%;
}

.full-width {
    width: 100%;
}

.center {
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.justify {
    text-align: justify;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.padding {
    padding: 0.5rem;;
}

.horizontal-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.horizontal-padding-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-top {
    padding-top: 0.5rem;
}

.padding-left {
    padding-left: 0.5rem;
}

.margin {
    margin: 0.5rem;;
}

.vertical-margin {
    margin-top: 0.5rem;;
    margin-bottom: 0.5rem;;
}

.horizontal-margin {
    margin-left: 0.5rem;;
    margin-right: 0.5rem;;
}

.top-margin {
    margin-top: 0.5rem;
}

.no-top-margin {
    margin-top: 0;
}

.bottom-margin {
    margin-bottom: 0.5rem;
}

.left-margin {
    margin-left: 0.5rem;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.break-anywhere {
    word-wrap: anywhere;
}

.hoverable {
    cursor: pointer;
}

.section-container {
    margin-bottom: 1.5rem;
}

.fixed-top {
    background-color: var(--base);
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.below-top {
    padding-top: 5rem;
}

